
/* ChangePassword */

.changePassword table {
    align-items: flex-start;
    width: 60%;
}

.changePassword {
    margin-left: 10px;
}
  
.changePassword td{
    padding: 10px;
    height: fit-content ;
}

.changePassword input{
    width: 100%;
}

.changePassword .label{
    width: 200px;
}
