.profile table {
    align-items: flex-start;
    margin: 10px;
    width: 100%;
  }

  .profile {
    margin-left: 10px;
  }
  
  .profile button {
    margin: 5px;
  }

  .profile td{
    padding: 10px;
    height: fit-content ;
  }

  .profile input{
    width: 100%;
  }

  .profile .label{
    width: 100px;
  }
