.forgot table {
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
  }

  .forgot {
    margin-left: 10px;
    font-size: 14px;
  }
  
  .forgot button {
    margin: 5px;
  }

  .forgot td{
    padding: 10px;
  }

  .forgot input{
    width: 100%;
    padding: 3px;
    outline: none;
  }

  .forgot .label{
    width: 100px;
  }
