.forgot table {
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
  }

  .forgot {
    margin-left: 10px;
  }
  
  .forgot button {
    margin: 5px;
  }

  .forgot td{
    padding: 10px;
    height: fit-content ;
  }

  .forgot input{
    width: 100%;
  }

  .forgot .label{
    width: 100px;
  }
