.gradient-custom {
    background-image: url('../images/Background.png');
    background-size: cover; 
    background-position: center;
    opacity: 0.8;
}

.welcome-text {
    text-align: left;
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
}

.form-login {
    opacity: 0.8;
    background-color: #FAEAE3;
}

.form-floating input[id="typeUsername"] {
    font-size: 0.9rem;
    
}

.form-floating input[id="typePassword"] {
    font-size: 0.9rem;
}

label {
    font-size: 0.9rem;
    font-weight: 300;
}

.form-control {
    border-color: #333;
}

.form-control:focus {
    border-color: #FAEAE3; 
}

.form-check-input {
    border-color: #333;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}


.btn {
    border-color: #333;
    background: #6a11cb;
}

.btn:hover {
    border-color: #FAEAE3;
}