.gradient-custom {
    background-image: url('../images/Background.png');
    background-size: cover; 
    background-position: center;
    opacity: 0.5;
} 

p {
    font-weight: 400;
}

.backgound{
    height: 100%;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.form-login {
    opacity: 0.8;
    background-color: #FAEAE3;
}

.form-floating input[id="typeUsername"] {
    font-size: 0.9rem;

}

.form-floating input[id="typePassword"] {
    font-size: 0.9rem;
}

label {
    font-size: 0.9rem;
    font-weight: 300;
}

.form-control {
    border-color: #333;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
}

.forgot {
    font-weight: 400;
}

.btn {
    border-color: #333;
}
