/* Toggle button styles */
.toggle-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    background-color: #ccc;
    transition: background-color 0.2s;
    margin-right: 10px; /* Adjust space between toggle and label */
  }
  
  .toggle-button:checked {
    background-color: #28a745;
  }
  
  .toggle-button::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.2s;
  }
  
  .toggle-button:checked::before {
    left: 13px;
  }
  