.App {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-img{
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.bg-1{
    background-color: #FAEAE3;
}
.text-darkbrown{
    color: #4E4649;
}
.bg-3{
    background-color: #E4948D;
}

.bg-5{
    background-color:#e8e5dc;
}

/* NavBar.css */
.text-brown {
    color: #333;
    text-decoration: none;
}

.navbar{
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-nav .nav-item :hover {
    color: black; /* Optional: Darker shade on hover */
    text-decoration: none;
}

.dropdown-item :hover {
    color: black; /* Optional: Darker shade on hover */
    text-decoration: none;
}

.nav-item:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.dropdown-menu {
    display: none;
    position: relative;
    top: 26px;
    left: 0;
    z-index: 1000;
}

.text-20{
    font-size: 20px;
}
.text-25{
    font-size: 25px;
}
.text-30{
    font-size: 30px;
}
.text-100{
    font-size: 100px;
}
.search{
    width: 300px;
}
.bg-trans{
    background-color: transparent;
}
.w-10{
    width: 10%;
}
.w-80{
    width: 80%;
}

.w-50 {
    width: 50%;
}
.w-400{
    width: 400px;
}

.ml-30{
    margin-left: 30px;
}
.mr-30{
    margin-right: 30px;
}

.menu {
    height: 81px;
    width: 100%;
}

.logo {
    max-height: 48px;
    width: auto;
}

.space {
    width: 98px;
}

.spacex{
    width: 30px;
}

.nav-item {
    font-family: "Roboto", sans-serif;
    position: relative;
}

.nav-item a {
    position: relative;
    text-decoration: none;
}

.nav-item a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: #333;
    transition: width .3s  ease-in-out;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item a:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    transition: box-shadow 0.3s ease;
}

.nav-icon:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25%;
}

.nav-icon.dropdown {
    position: relative;
}

.nav-icon .dropdown-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0 !important;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.nav-icon:hover .dropdown-menu {
    display: block;
}

section a {
    text-decoration: none;
}

section a:hover {
    text-decoration:underline grey 1px;
}

.nav-button button{
    width: 90px;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.nav-button{
    display: flex;
}
.nav-button button:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Sidebar */
.sidebar-item {
    padding: 20px 0 13px 0;
    border: 0;
    border-top: solid 1px grey;
    background-color: transparent;
    text-align: left;
    width: 100%;
}
.sidebar-item .icon{
    visibility: hidden;
    font-size: 30px;
    opacity: 0.5;
}
.sidebar-item:hover .icon{
    visibility: visible;
 }
.border-b{
    border-bottom:solid 1px grey;
}


/* Order */
.miniImg{
    width: 75px;
    height: 75px;
    border: solid 1px;
}
.bg-grey{
    background-color: rgb(215, 206, 206);
}

/* Search */
.search-box{
    background-color: transparent;
    padding: 0 3px 0 3px;
    position: relative;
    margin-right: 5px;
}
.search-box:hover{
    border: solid 1px;
    border-radius: 32px;
    transition: ease;
    background-color: #e8e5dc;
}
.search-box input{
    width: 0px;
    transition: 1s ease;
    font-size: 16px;
    border: transparent;
    background-color: transparent;
    outline: none;
}

.search-box:hover input{
    width: 150px;

}
.search-box button {
    padding: 5px 5px 5px 2px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}
/* Alert */
.alertMessage {
    min-width: 200px;
    justify-content: space-between;
}

/* CART */
/* QUANTITY*/
.w100{
    width: 100px;
}
.quantity{
    display: flex;
    width: 70px;
    height: 30px;
    background-color: white;
    text-align: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 50%;
}

.quantity input{
    width: 30px;
    border: 0;
    background-color: transparent;
    text-align: center;
    justify-content: center;
}

.quantity button{
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    width: 10px;
    font-size: small;
    opacity: 0.5;
}

.quantity button:hover {
    font-size: medium;
}

.cart table{
    table-layout:fixed;
}


