.App {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-img{
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.bg-1{
    background-color: #C38D95;
}
.text-darkbrown{
    color: #4E4649;
}
.bg-3{
    background-color: #E4948D;
}

.bg-5{
    background-color:#e8e5dc;
}

/* NavBar.css */
.text-brown {
    color: #333;
    text-decoration: none;
}

.navbar{
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-nav .nav-item :hover {
    color: black; /* Optional: Darker shade on hover */
    text-decoration: none;
}

.dropdown-item :hover {
    color: black; /* Optional: Darker shade on hover */
    text-decoration: none;
}

.nav-item:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.dropdown-menu {
    display: none;
    position: relative;
    top: 26px;
    left: 0;
    z-index: 1000;
    width: 80% !important;
}

.text-20{
    font-size: 20px;
}
.text-25{
    font-size: 25px;
}
.text-30{
    font-size: 30px;
}
.text-100{
    font-size: 100px;
}
.search{
    width: 300px;
}
.bg-trans{
    background-color: transparent;
}
.w-10{
    width: 10%;
}
.w-80{
    width: 80%;
}

.w-50 {
    width: 50%;
}

.ml-30{
    margin-left: 30px;
}

.container {
    max-width: 1520px;
}

.menu {
    height: 81px;
    width: 100%;
}

.logo {
    max-height: 48px;
    width: auto;
}

.space {
    width: 98px;
}

.spacex{
    width: 30px;
}

.nav-item {
    font-family: "Roboto", sans-serif;
    position: relative;
}

.nav-item a {
    position: relative;
    text-decoration: none;
}

.nav-item a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: #333;
    transition: width .3s  ease-in-out;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item a:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    transition: box-shadow 0.3s ease;
}

.nav-icon:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25%;
}

section a {
    text-decoration: none;
}

section a:hover {
    text-decoration:underline grey 1px;
}

.nav-button button{
    width: 90px;
    justify-content: center;
    align-items: center;
}

.nav-button button:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Item.css */
.product-box {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.product-box:hover{
    border: 1px solid #333;
}

.product-image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.product-action {
    background: rgba(51, 51, 51, 0.6);
    display: flex;
    position: absolute;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-action a {
    color: #f2f2f2;
    padding: 0.5rem;
    font-size: 15px;
    text-decoration: none;
    width: 50%;
}

.product-content a:hover{
    color: #E4948D;
}

.product-box:hover .product-action{
    bottom: 0;
    opacity: 1;
}

.product-content {
    text-align: center;
    width: 100%;
}

.product-content a {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #333;
    margin: 10px;
}

.product-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.product-title:hover {
    overflow: visible;
    white-space: wrap;
}

.product-content span {
    color: gray;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.product-price {
  position: relative;
}


/* Sidebar */
.sidebar-item {
    border-top:solid 1px grey;
    padding: 20px 0 20px 0;
}

/* Order */
.miniImg{
    width: 75px;
    height: 75px;
    border: solid 1px;
}
.bg-grey{
    background-color: rgb(215, 206, 206);
}