.App {
  text-align: center;
}



.App-header {
  background-color:#d6c0a3;
  height: 300px;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: white;
}
.bg-brown{
  background-color: #967c5a;
}
